* {
  font-family: Segoe UI Light, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  /*background-image: linear-gradient(180deg, #0ad4fc, #054551);*/
  /*background-image: url("../background.png");*/
  background-color: #444444;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
}

.mainContainer {
    width: 100%;
}

.header {
    background-color: #333333;
    box-shadow: 0px 0px 40px black;
    height: 5%;
}

.textHeader {
  padding: 5px 5px 5px 15px;
  color: white;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  height: 75px;
}

.headerBtn {
  padding: 5px 5px 5px 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  height: 75px;
  transition-duration: 0.2s;
}

.headerBtn:hover {
  background-color: #292929;
}

.pizzaBox {

}

.orderBtn {
  display: inline-block;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 24px;
  color: white;
  transition-duration: 0.2s;
}

.orderBtn:hover {
  background-color: #393939;
}

.pizzaContainer {
  display: inline-block;
  padding: 2% 1% 2% 1%;
  /*margin: 6px 6px 6px 6px;*/
  /*width: 30%;*/
  height: 100%;
  /*box-shadow: 0px 0px 40px black;*/
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  font-size: 24px;
  color: white;
}

.pizzaContainer img {
   filter: url(#drop-shadow);
   -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000000')";
   filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#000000')";
   -webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,1));
}

.pizzaContainer p {
  color: white;
  vertical-align: middle;
}

.addToCartBtn {
  display: inline-block;
  background-color: #4CAD56;
  text-align: center;
  vertical-align: middle;
  height: 35px;
  width: 65%;
  white-space: nowrap;
  font-size: 20px;
  line-height: 35px;
  box-shadow: 0px 0px 40px black;
  transition-duration: 0.2s;
}

.addToCartBtn:hover {
  background-color: #3C8745;
}

.addToCartBtn p {
  float: right;
  background-color: rgba(0,0,0,0.4);
  white-space: nowrap;
  overflow: hidden;
  width: 15%;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  line-height: 35px;
}

.signUpForm {
  position: absolute;
  background-image: linear-gradient(180deg, #DDDDDD, #888888);
  color: black;
  display: none;
  width: 50%;
  height: 70%;
  top: 15%;
  left: 25%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 40px black;
  text-align: center;
  line-height: 40px;
}

.signUpForm input {
  text-align: center;
  color: red;
}

.alert {
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 24px;
  color: red;
}
