* {
  font-family: sans-serif;
}

body {
  /*background-image: linear-gradient(180deg, #0ad4fc, #054551);*/
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
}

.mainContainer {
    width: 100%;
}

.header {
    box-shadow: 0px 0px 40px black;
    height: 5%;
}

.textHeader {
  padding: 5px 5px 5px 15px;
  /*background-color: #2d2d2d;*/
  color: white;
  text-align: left;
  margin: auto;
  height: 75px;
}

.headerBtn {
  padding: 5px 5px 5px 5px;
  /*background-color: #2d2d2d;*/
  color: white;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  height: 75px;
}

.headerBtn:hover {
  background-color: rgba(0,0,0,0.15);
}

.pizzaBox {

}

.orderBtn {
  display: inline-block;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 24px;
  color: white;
}

.orderBtn:hover {
  background-color: rgba(0,0,0,0.4);
}

.orderBtn span {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 24px;
}